@import url("https://use.fontawesome.com/releases/v5.15.4/js/all.js");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
  overflow-x: hidden!important;
  font-family: "Montserrat", sans-serif;
}
body::-webkit-scrollbar {
	width: 13px;
}
body::-webkit-scrollbar-track {
	background-color: white;
}
body::-webkit-scrollbar-thumb {
	background-color: rgba(150, 150, 150, 0.6);
}

.card-image-container {
  position: relative;
}

.overlay {
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65%;
  background-size: cover;
  background-position: center;
  filter: blur(23px);
  transform: scale(0.8);
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.5s ease;
}
.card-image {
  z-index: 2;
  transition: transform 0.4s ease;
}
.dark-mode .preloader {
  background-color: #9368e9!important;

}
.os-viewport {
  background: transparent linear-gradient(to bottom, #9368e9 0%, #6217a8 100%) repeat scroll 0 0/150% 150%;
}
.layout-navbar-fixed .wrapper .sidebar-dark-primary .brand-link:not([class*=navbar]) {
  background: #9368e9;
}
.brand-text {
  font-size: x-large;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
}
.dark-mode .main-footer {
  background-color: white;
  border-color: white;
}
.layout-footer-fixed .wrapper .main-footer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 1032;
} 

[class*=sidebar-dark] .user-panel {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

[class*=sidebar-dark] .brand-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.dark-mode {
  background: white!important;
}
.dark-mode .nav-pills .nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
}
[class*=sidebar-dark-] .nav-header {
  color: white;
}

.nav-menu li {
  transform: scale(1.1);
  padding: 0.5rem 0.3rem;
}
.nav-sidebar .nav-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 1rem 2rem;
}
li a i {
  transform: scale(1.3);
}
.burger {
  color: gray;
}
.arrows-fa {
  color:gray;
}
.dashboardtext {
  margin-top: 3px;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color:gray;
}
.os-content {
  margin: 0 -8px!important;
}
.button-logout {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 12px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 3rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-logout:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-logout {
    padding: 0 2.6rem;
  }
}
.navbar-nav {
  margin-top: 10px;
}
.content-header {
  padding-top: 40px;
  margin-top: 10px;
}
.dark-mode .modal-content {
  background-color: white;
  border-radius: 30px;
}
.modal-title {
  color: black;
}
.dark-mode .modal-footer, .dark-mode .modal-header {
  border-color: transparent;
}
label:not(.form-check-label):not(.custom-file-label) {
  color: #333333;
}

.button-68 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 10px 14px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-68:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-68:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}
.form-group {
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 340px;
  margin: 12px 5px;
  --accent-color: #a3e583;
}
.modal-body {
  color: #333333;
}
.button-close {
  border-radius: 10px;
}
.button-save {
  border-radius: 10px;
}
.form-group:before {
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.form-group:before,
.form-group:after {
  content: "";
  left: 0;
  right: 0;
  position: absolute;
  pointer-events: none;
  bottom: -1px;
  z-index: 4;
  width: 100%;
}

.form-group:focus-within:before {
  border-bottom: 1px solid var(--accent-color);
}

.form-group:before {
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.form-group:focus-within:before {
  border-bottom: 1px solid var(--accent-color);
  transform: scaleX(1);
}

.form-group:focus-within:after {
  border-bottom: 1px solid var(--accent-color);
  transform: scaleX(1);
}

.form-group:after {
  content: "";
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  will-change: transform;
  border-bottom: 2px solid var(--accent-color);
  border-bottom-color: var(--accent-color);
}

.form-control::placeholder {
  transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  opacity: 1;
  user-select: none;
  color: rgba(255, 255, 255, 0.582);
}

.form-group .form-control {
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 2px 5px rgb(35 35 35 / 30%);
  max-height: 36px;
  background-color: #252525;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 200ms;
  transition-property: background-color;
  color: #e8e8e8;
  font-size: 14px;
  padding: 12px;
  width: 100%;
  border-left: none;
  border-bottom: none;
  border-right: none;
}

.form-group .form-control:focus,
.form-group .form-control:active {
  outline: none;
}

.form-group:focus-within .form-control,
.form-group .form-control:focus,
.form-group .form-control:active {
  background-color: #353535;
}

.form-group:focus-within .form-control::placeholder {
  opacity: 0;
}

.button-savet {
  backface-visibility: hidden;
  background: #332cf2;
  border: 0;
  border-radius: 12px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 0.75rem 1rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-savet:disabled {
  color: #787878;
  cursor: auto;
}

.button-savet:not(:disabled):hover {
  transform: scale(1.05);
}

.button-savet:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-savet:focus {
  outline: 0 solid transparent;
}

.button-savet:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-savet:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-savet:not(:disabled):active {
  transform: translateY(.125rem);
}
.col-sm-6 h1 {
  padding-top: 1rem;
  font-size: 2rem;
  color: black;
}
.dark-mode .content-wrapper {
  background-color: white;
}
.card-title {
  padding-top: 10px;
  color: black;
  font-size:large;
}
.dark-mode .card {
  margin-top: 30px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px rgba(0,0,0,0.3), 0 -6px 16px -6px rgba(0,0,0,0.025);
}

.container-input {
  position: relative;
}

.input {
  width: 250px;
  padding: 10px 0px 10px 40px;
  border-radius: 9999px;
  border: solid 1px #333;
  transition: all .2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.container-input svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.input:focus {
  opacity: 1;
  width: 300px;
}

thead {
  background-color: #9368e9 !important;
  overflow: hidden;
  border-radius: 25px;
  padding: 15px;
  margin: 15px;
}

.table td, .table th {
  padding: 1.3rem;
}
th a {
  color: black;
}
th a:hover {
  color: black;
}
td {
  font-family: 600;
  color: black;
}
.table-responsive {
  border-radius: 25px;
  display: grid;
}
.table-minimal {
  box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px rgba(0,0,0,0.3), 0 -6px 16px -6px rgba(0,0,0,0.025);
}
.dark-mode .table-hover tbody tr:hover {
  background-color: #976de9;
  box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px rgba(0,0,0,0.3), 0 -6px 16px -6px rgba(0,0,0,0.025);
}
.btn-warning {
  color: white!important;
}

.card-text {
  color: gray;
}

.dark-mode .text-muted {
  color: black!important;
  font-weight: 600;
}
.text-muted {
  transform: translateY(-10px);
}
.card-film {
  background-color: rgba(0,0,0,0.8)!important;
}
.dark-mode .card .card-footer {
  background-color: rgba(0,0,0,.0)!important;
}

.mt-5 a {
  color: black!important;
  font-family: 700;
}
.btn-secondary2 a {
  color: white!important;
}

.box {
  backdrop-filter: blur(25px) saturate(100%);
  -webkit-backdrop-filter: blur(25px) saturate(100%);
  background-color: rgba(17, 25, 40, 0.6);
	-webkit-box-shadow: 0 25px 40px rgba(0, 0, 0, 0.15);
	box-shadow: 0 25px 40px rgba(0, 0, 0, 0.15);
	border: 1.5px solid rgba(255, 255, 255, 0.06);
	border-radius: 25px;
}

a:hover {
  color: #976de9;
}

.table-responsive.p-0.d-flex.flex-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}